
<!-- <ul *ngFor="let p of products,index as i">
    <li>{{p.id}}</li>
    <li>{{p.name}}</li>
    <li>{{p.price}}</li>
    <li>{{p.image_url}}</li>
</ul> -->

<mat-toolbar color="primary" class="app-navbar">
    <mat-toolbar-row fxFlex="row" fxLayoutAlign="space-between center">
           <span>Product Management</span>
           <span fxFlex></span>
           






<div class="inputBox_container">
    <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" alt="search icon">
      <path d="M46.599 46.599a4.498 4.498 0 0 1-6.363 0l-7.941-7.941C29.028 40.749 25.167 42 21 42 9.402 42 0 32.598 0 21S9.402 0 21 0s21 9.402 21 21c0 4.167-1.251 8.028-3.342 11.295l7.941 7.941a4.498 4.498 0 0 1 0 6.363zM21 6C12.717 6 6 12.714 6 21s6.717 15 15 15c8.286 0 15-6.714 15-15S29.286 6 21 6z">
      </path>
    </svg>
    <input class="inputBox" id="inputBox" type="text" placeholder="Search For Products" (keyup)="applyFilter($event)">
  </div>
  
           
        
           <button mat-button [routerLink]="['']" style="margin: 10px;">Products</button>
                            <button mat-button [routerLink]="['/cart']">Cart</button>
           <app-nightmode></app-nightmode>
       </mat-toolbar-row>
   </mat-toolbar>
   
<p>
    welcome to your Amazing Art Strore:<br>
    Here you can add painting to your cart in order to checkout<br>
</p>
<div class="random"> Our latest collection</div>
<div  class="random">Sort : 
    <mat-form-field>
        <mat-select (selectionChange)="sortProduct($event.value)">
            <mat-option value="priceLowHigh"> Price : Low to High</mat-option>
            <mat-option value="priceHighLow"> Price : High To Low</mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div fxLayout="row wrap"  fxLayoutGap="20px" >

    <mat-card *ngFor="let p of filteredProducts" class="product-card">
        <img mat-card-image src="/{{p.image_url}}">
        <mat-card-content class="card-content">
            <div class="text-content">        
                <mat-card-title>{{p.name}}</mat-card-title>
                <mat-card-subtitle>{{p.price | currency :'USD'}}</mat-card-subtitle>
            </div>
            <button class="add" (click)="addToCart(p)"><i class="bi bi-plus"></i></button>
        </mat-card-content>
    </mat-card>
    





    
</div>



