/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@Import '../node_modules/ngx-toastr/toastr.css';

.sucess{
    position: fixed ;
    top: 65px;
    right: 0%;

    z-index: 9999; 
}







/* :root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  
  



  
  .dark-theme .product-card {
    background-color: #d3d3d3 ; 
    color: #000000 ;           
  }
  
  .dark-theme .product-card .mat-card-title,
  .dark-theme .product-card .mat-card-subtitle {
    color: #000000 ;
  }



.dark-theme .cart mat-list{
    background-color: #d3d3d3 ; 
} */


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #ffffff;
    --card-text: #000000;
    --mat-title-color: #000000;
    --list-bg: #ffffff;
  }
  
  .dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-bg: #d3d3d3;
    --card-text: #000000;
    --mat-title-color: #000000;
    --list-bg: #d3d3d3;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  
  .product-card {
    background-color: var(--card-bg) !important;
    color: var(--card-text);
  }
  
  .product-card .mat-card-title,
  .product-card .mat-card-subtitle {
    color: var(--mat-title-color);
  }
  
  .cart mat-list {
    background-color: var(--list-bg);
  }
  